*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root{
    --HEAD-BGCOLOR:#89A8B2;
    --HEAD-COLOR:#B3C8CF;
    --TEXT:#E5E1DA;
    --LIGHT:#F1F0E8;
    --DARK:#000;
    --YELLOW:#EEDF7A;
}
.start{
    background-image: url('../media/bg.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: auto;
    
}
header{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

}
header button{
    background-color: var(--DARK);
    color:var(--HEAD-BGCOLOR);
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: space;
    
}

header a{
    color: var(--HEAD-BGCOLOR);
    display: flex;
    font-size: 4rem;
    padding: .3em;
    cursor:auto;
    
}
header i{
    margin-left: .2em;
}
header a,
header a:any-link{
    text-decoration: none;
    color: var(--HEAD-BGCOLOR);
}
.landing{
    color: var(--LIGHT);
    display: flex;
    flex-direction: column;
    margin-top: 12rem;
    padding-left: 3rem;
}
.tagline1{
    font-size: 3rem;
}
.tagline1 h1::first-letter{
    font-size: 8rem;
    color:var(--YELLOW);
}
/* main h1:hover,
main h1:focus{
    transform: scale(1.2);
    transition: all 0.3s;
} */
 .tagline2{
    margin-top: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
}
.tagline3{
    margin-top: 1.6rem;
}
.tagline3 button{
    width: 30%;
    height: 3rem;
    border-radius: 15px;  
    cursor: pointer; 
    font-size: 1.5em;
    font-weight: bold; 
    margin-bottom: 2rem;
}

.tagline3 button:hover,
.tagline3 button:focus{
    transform: scale(1.2);
    transition: all 0.2s;
    background-color: var(--YELLOW);
    color: var(--DARK);
    text-transform: lowercase;
    font-size: 3rem;
}
section{
    height:
}
footer{
    bottom: 0;
}
.end{
    font-size: 2.5rem;
    background-image: url('../media/bg.jpg');
    background-position: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    
}
li a,
li a:any-link{
    text-decoration: none;
    color: var(--YELLOW);
}
li i{
    padding:.1em;
    margin-right: .1em;
    font-size: .9em;
}
li a:hover,
li a:focus{
    color: var(--LIGHT);
    transform: scale(1.2);
    transition: all 0.3s;
}
.Home{
    height: 80vh;
    background-image: url('../media/bg2.jpg');
    background-position: center;
    background-size: cover;
    color:var(--HEAD-BGCOLOR);
    font-size: 7rem;
    font-weight: bolder;
    
}
.Home p{
    text-align: center;
    text-transform: uppercase;
    padding-top: 19rem;
    text-shadow: var(--DARK);
    
}
.Home p:hover 
.Home p:focus{
    transform: scale(1.2);
    transition: all 0.3s;
}
.Menu{
    height: 100vh;
}
.Contact{
    height: 100vh;
}
.social{
    background-color: var(--HEAD-BGCOLOR);
    color:var(--DARK);
    border-radius: 25px;
    font-size: inherit;
    padding: 1rem;
    position: fixed;
    top: 30%;
    left: 0;
    z-index: 1;
}

